html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: wheat;
    color: purple;
    width: 825px;
}

header {
      text-align: center;
      font-size: 4em;
}

section {
    padding: 10px;
}

img {
    height: 225px;
    width: auto;
    margin: 15px;
    border-radius: 20px;
    border: purple 2px solid;
}

div {
    text-align: center;
}

.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 300px;
}

.play-area {
    display: flex;
    flex-direction: column;
    align-items: center;

}

input[type="radio"] {
    display: none;
}

input[type="radio"] + img {
    cursor: pointer;
}

input[type="radio"]:checked + img {
    transform: scale(1.15);
}

span {
    height: 30px;
}