html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: wheat;
    color: purple;
    width: 825px;
}

header {
      text-align: center;
      font-size: 4em;
}

section {
    padding: 10px;
}

img {
    height: 225px;
    width: auto;
}

.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-play {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
}

input[type="radio"] {
      transform: scale(1);
}

input[type="radio"]:checked + img {
    transform: scale(1);
}

span {
    height: 25px;
}